.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchInput {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

#searchButton {
  padding: 11px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: relative;
  bottom: 5px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
  gap: 20px;
}

.movie-card {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-poster {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.movie-details {
  padding: 10px;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.movie-year {
  font-size: 14px;
  color: #666;
}


.add-to-playlist-btn {
  position: relative;
  left: 60px;
}

@media (max-width: 768px) {
  .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}


.movie-card {
  position: relative;
}

.playlist-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  z-index: 10;
}

.playlist-modal h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.playlist-modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist-modal li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease;
}

.playlist-modal li:last-child {
  border-bottom: none;
}

.playlist-modal li:hover {
  background-color: #f7f7f7;
}

.close-modal-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.close-modal-btn:hover {
  background-color: #0056b3;
}






















