/* playlists.css */

  .playlist-item:hover {
    background-color: grey;
  }

  .playlist-item{
    list-style: none;
  }
  .playlist-link {
    text-decoration: none;
  }

  .add-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .playlist-form {
    margin-top: 20px;
  }
  
  .playlist-form input[type='text'] {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
  }
  
  .playlist-form label {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .create-button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }


.playlists-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.playlists-list {
  padding: 0;
}

.playlist-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.playlist-image img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}


.playlist-title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  
}

.delete-button {
  background-color: #e35b52;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: auto;
}

.playlist-form {
  margin-top: 20px;
}

.playlist-form input[type="text"] {
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid rgb(115, 114, 114);
}

.playlist-form button {
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
}
