.profile-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    margin: 0 auto;
  }
  
  .profile-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-list {
    list-style: none;
    padding: 0;
  }
  
  .profile-list-item {
    margin: 10px 0;
  }
  
  .profile-link {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.1s ease-in-out, color 0.3s ease-in-out;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .profile-link:hover {
    background-color: #333;
    color: #fff;
  }
  